.verifpayments-card {
    padding:5px;
}

#veriff-submit-btn,
#micro_tran_add_card {
    display: block;
    text-decoration: none;
    padding:8px;
    color: white;
    font-weight: 600;
    text-align: center;
    background-color: black
}

#veriff-submit-btn:hover,
#micro_tran_add_card:hover
{
    background-color: grey;
    cursor: pointer;
}

#micro_tran_delete_card {
    margin: 10px 0;
    padding:5px;
    color: white;
    font-weight: 600;
    text-align: center;
    background-color: grey
}

#micro_tran_delete_card:hover
{
    background-color: black;
    cursor: pointer;
}

.hide_button{
    display: none;
}

.verifpayments-card-message {
    /*display: none;*/
    margin-top: 1em;
    /* border:1px solid grey; */
    padding:5px;
}

.verifpayments-card-response {
    margin-top: 1em;
}

.verifpayments-add_card_message {

}

.verifpayments-add_card_error {
    color: red;
}

.verifpayments-powered-by{
    font-size: 12px;
    text-align: center;
}

#delete-card-start,
#add-card-start{
    /* width: 100%;
    border:1px solid red;
    align-items: center;
    height: 50px; */
    /* margin-left: 100px; */
}

.loader_box_column {
    display: flex;
    align-items: center;
    flex-flow: column;
}


.loader_box {
    display: flex;
    align-items: center;
    flex-flow: row;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.smartpayments_input_line{
    padding:10px 0px 0px 0px;
    /* border:1px solid red; */
}

#card_number{
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    font-family: monospace;
}

#card_expiry_month,
#card_expiry_year,
#cvv2,
#verify_amount
{
    height: 40px;
}

.verify-amount-box{
    /*display: none;*/
    margin-top: 1em;
    /* border:1px solid grey; */
    padding:5px;
}


#card_expiry_month{
    width: 100%;
    padding-left:10px;
}

#card_expiry_year{
    width: 100%;
    padding-left:10px;
}

#cvv2{
    width: 100%;
    padding-left:10px;
}

.payment_method_smartpayments_gateway > label{
    background-image: url(visa-mc-amex.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto;
/*    background-size: 40%;*/
    padding-right:200px;
/*    display: block !important;*/
}
