/*
Smart Payments form style sheet.
*/
#verify_user_submit > form {
  margin-bottom: 0;
}
#verify_user_submit  > form > .veriff-submit {
  line-height: 1;
}
#verify_user_submit  > form > .veriff-description {
  margin-top: 10px !important;
}
.smartpayments_veriff_info {
  padding: 10px;
  background-color: #fdf7e0;
  border-radius: 5px;
  color: #826908;
  border: 1px solid #fbefc0;
}
.smartpayments_veriff_info > p:not(:last-child) {
  margin-bottom: 10px !important;
}

.smartpayments_dropdown{
    border: 1px solid #aaa;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    background-color: #eee;
    padding:10px 0px;
}

.smartpayments_input_cardnumber{
    /*border:1px solid red;*/
    width:100%;
}
