.logo {
  display: flex;
  align-items: center;
}
.logoFigure {
  margin-right: 1rem;
  background: linear-gradient(
    0deg,
    rgba(204, 224, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.18);
}
.logoText {
  font-weight: 700 !important;
}
.siteSelector {
  margin-top: auto;
}
