.statHighlightIcon {
  position: absolute;
  bottom: -2rem;
  right: -2rem;
  opacity: 0.1;

  > svg {
    font-size: 10rem;
  }
}
.statHighlight {
  background-color: red;
}
.statHeader {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.statHeaderAction {
  margin-left: auto;
}
.statHeaderIcon {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.statContentFigure {
  display: flex;
  align-items: flex-end;
}
.statContentFigureCaption {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: -5px;
}
