html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  letter-spacing: 0.15px;

  > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

// quick overide for rechart label text
.recharts-legend-item-text {
  position: relative;
  top: 1px;
}

// nprogress
.nprogress-custom-parent #nprogress {
  > .bar {
    top: auto;
    bottom: 0;

    > .peg {
      display: none;
    }
  }
}
