.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-image: url('/img/sidebar-bg.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-blend-mode: multiply;
  background-color: #0052cc;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoFigure {
  margin-bottom: -3.5rem;
  background: linear-gradient(
    0deg,
    rgba(204, 224, 255, 1) 0%,
    rgba(255, 255, 255, 1) 120%
  );
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.18);
}
